version: "3.9"
services:
  backend:
    build: ./server
    container_name: shoekart-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - CLIENT_URL=${CLIENT_URL}
    depends_on:
      - mongo

  frontend:
    build: ./client
    container_name: shoekart-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  mongo:
    image: mongo
    container_name: shoekart-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
